/*
                                        GLOBAL
                                        STYLES
*/

/* BACKGROUND COLOR/DARKEST BLUE: #0D092C
    SECONDARY COLOR/DARK BLUE: #1F1A3E
    ACCENT COLOR/DARK ORANGE: #E8862F
    ACCENT COLOR/LIGHTER ORANGE: #F9AA64
    TEXT COLOR/CREAM: #F5F3D9
*/

/* NAV MENU STUFF */

.page-header {
    grid-area: header;
    text-align: center;
    padding: 75px 10px 20px;
}

.page-nav {
    font-family: "Cormorant Garamond";
    background-color: #1F1A3E;
    padding: 20px;
    color:#F9AA64;
    border-bottom: solid 3px #E8862F;
}

.menu a {
    color: #F5F3D9;
}

.menu a:hover, .menu a:focus {
    color:#F9AA64;
    text-decoration: underline;
    transition: ease .5s;
}

.menu {
    background-color: #1F1A3E !important;
}

.brand {
    padding: .3em .9em;
    border-radius: .2em;
}

.brand:focus, .brand:hover {
    box-shadow: inset 0 0 0 99em rgba(17, 17, 17, .1);
}

/* BODY & HEADERS */

body {
    margin: 0;
    background-color: #0D092C;
    color: #F5F3D9;
    font-family: "Georgia", serif;
    font-size: 16px;
    min-height: 100%;
}

h1 {
    font-family: "Cormorant Garamond", serif;
    color:#E8862F;
    font-style: italic;
    font-size: 28px;
    padding: 0px !important;
}

h2 {
    font-family: "Cormorant Garamond", serif;
    color:#E8862F;
    font-style: italic;
    font-size: 24px;
    padding: 0px !important;
}

h3 {
    font-family: "Cormorant Garamond", serif;
    color:#F9AA64;
    font-style: italic;
    font-size: 20px;
}

h4 {
    font-family: "Cormorant Garamond", serif;
    color:#F9AA64;
    font-style: italic;
    font-size: 18px;
}

.top-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 28px;
    color: #F9AA64;
    letter-spacing: 3px;
    margin-bottom: 0px;
    font-style: normal;
}

.bottom-title {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-size: 70px;
    color: #E8862F;
    margin-top: 0px;
    margin-bottom: 60px;
}

/* FOOTER STUFF */

footer {
    grid-area: footer;
    background: #1F1A3E;
    padding: 20px;
    color:#F9AA64;
    border-top: solid 3px #E8862F;
}

footer a {
    color:#F5F3D9;
    text-decoration: none;
}

footer a:hover, footer a:focus {
    color:#F9AA64;
    text-decoration: underline;
    transition: ease .5s;
}



/*
                                        HOME
                                        PAGE
*/



.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "header"
        "about"
        "left-photo"
        "right-photo"
        "quote"
        "footer";
}


/* HEADER
SECTION */


.home-header {
    grid-area: header;
    text-align: center;
    padding: 150px 20px 40px;
}

.home-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 28px;
    color: #F9AA64;
    letter-spacing: 3px;
    margin-bottom: 0px;
    font-style: normal;
}

.home-worship {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-size: 70px;
    color: #E8862F;
    margin-top: 0px;
    margin-bottom: 60px;
}

.home-caption {
    margin-top: 5px;
    margin-bottom: 50px;
}


/* NAV BUTTONS */


.home-nav-button {
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #E8862F;
    padding: 14px 32px;
    border-radius: 40px;
    color: #F5F3D9;
    font-family: "GEORGIA", sans-serif;
    text-decoration: none;
    font-size: 14px;
}

.home-nav-button:hover, .home-nav-button:focus {
    background-color:#F5F3D9;
    color: #E8862F;
    text-decoration: underline;
    transition: ease .5s;
}

.nav-button {
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #E8862F;
    padding: 10px 26px;
    border-radius: 40px;
    color: #F5F3D9;
    font-family: "GEORGIA", sans-serif;
    text-decoration: none;
    font-size: 12px;
}

.nav-button:hover, .nav-button:focus {
    background-color:#F5F3D9;
    color: #E8862F;
    text-decoration: underline;
    transition: ease .5s;
}



/* ABOUT
SECTION */


.home-about {
    grid-area: about;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.about-card {
    background: #1F1A3E;
    border-radius: 20px;
    padding: 80px;
}

.about-card p {
    line-height: 1.5;
}


/* PHOTO
SECTION */


.left-photo,
.right-photo {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.photo-card {
    background: #1F1A3E;
    border-radius: 20px;
    padding: 45px;
}

.photo-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-img {
    width: 100%;
    max-width: 360px;
    height: auto;
    object-fit: cover;
    border-radius: 14px;
    border: 3px solid #E8862F;
    background-size: cover;
    background-position: center;
}

.quote-section {
    grid-area: quote;
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
}

.quote {
    font-size: 28px;
    font-style: italic;
    font-family: "Cormorant Garamond", serif;
    color:#F5F3D9
}

/* DESKTOP
VIEW */


@media screen and (min-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header header header"
            "left-photo about right-photo"
            "quote quote quote"
            "footer footer footer";
    }

    .menu {
        background-color: #1F1A3E !important;
    }

    .home-header {
        grid-area: header;
        text-align: center;
        padding: 200px 20px 200px;
    }
    
    .home-title {
        font-size: 48px;
    }
    
    .home-worship {
        font-size: 95px;
        color: #E8862F;
    }

    .right-photo {
        grid-area: right-photo;
        display: flex;
        padding: 20px;
    }
    
    .photo-card {
        background: #1F1A3E;
        border-radius: 20px;
        padding: 40px 45px;
    }
    
    .photo-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .photo-img {
        max-width: 360px;
        object-fit: cover;
        border-radius: 14px;
        border: 3px solid #E8862F;
        background-size: cover;
        background-position: center;
    }
}



/*
                                        HISTORY
                                        PAGE
*/

.history-grid {
    display: grid;
    gap: 40px;
    width: 100%;
    justify-items: center;
    padding: 20px;
    min-height: 92.85vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "story"
        "footer";
}
.story {
    grid-area: story;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    border-radius: 14px;
    border: 3px solid #E8862F;
    background: #1F1A3E;
    padding: 20px;
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 768px) {
    .story {
        max-width: 800px;
    }
}

/*
                                        TEAM
                                        PAGE
*/


.team-grid {
    display: grid;
    gap: 40px;
    width: 100%;
    justify-items: center;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "students";
}

.team {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    border-radius: 14px;
    border: 3px solid #E8862F;
    background: #1F1A3E;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 768px) {

    .home-caption {
        margin-left: 60px;
        margin-right: 60px;
    }

    .team {
        max-width: 800px;
    }
}

/*
                                        TESTIMONIALS
                                        PAGE
*/

.testimonials-grid {
    display: grid;
    gap: 40px;
    width: 100%;
    justify-items: center;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "students";
}

.students {
    grid-area: students;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.student {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    border-radius: 14px;
    border: 3px solid #E8862F;
    background: #1F1A3E;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 768px) {
    .students {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
    }
}




/*
                                        SONG REQUEST
                                        PAGE
*/

/* FORM
SECTION */

.songrequest-grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "form"
        "footer";
}

.form-container {
    grid-area: form;
    background-color:#1F1A3E;
    border-radius: 20px;
    padding: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
}

.form-container input {
    background-color: #0D092C;
    border: #F9AA64;
}

.form-container label {
    color:#F9AA64;
    padding-bottom: 20px;
}

.form-container button {
    background-color: #E8862F;
    font-style: italic;
    margin-top: 20px;
    width: 100%;
}

.form-container button:hover, .form-container button:focus {
    background-color:#F5F3D9;
    color: #E8862F;
    text-decoration: underline;
    transition: ease .5s;
}

/* DESKTOP
VIEW */

@media screen and (min-width: 768px) {

.songrequest-grid {
    display: grid;
    justify-items: center;
}

.form-container {
    grid-area: form;
    background-color:#1F1A3E;
    border-radius: 20px;
    border: 3px solid #E8862F;
    padding: 40px;
    width: 500px;
    margin-bottom: 80px;
}

footer {
    justify-self: stretch;
}

}

/*
                                        CONTACT
                                        PAGE
*/





/*
                                        CONNECT
                                        PAGE
*/

.connect-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    width: 100%;
    justify-items: center;
    padding: 20px;
    grid-template-areas:
    "header"
    "ministries";
}

.page-header {
    grid-area: header;
}

.ministries {
    grid-area: ministries;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.ministry-img {
    width: 100%;
    max-width: 360px;
    border-radius: 14px;
    border: 3px solid #E8862F;
    background: #1F1A3E;
    padding: 10px;
    object-fit: cover;
}

.home-caption a {
    color: #F9AA64;
}

.home-caption a:hover, .home-caption a:focus {
    text-decoration: underline;
    color:#E8862F;
}

@media screen and (min-width: 768px) {

    .home-caption {
        margin-left: 60px;
        margin-right: 60px;
    }

    .ministries {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
    }
}
